*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to left bottom ,#83a8df 50%,#c3cfe2);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#Container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    position: relative;
}

h1::after{
    content: "";
    position: absolute;
    width: 40%;
    bottom: 0;
    background-color: #667eea;
    height: 3px;
    left: 50%;
    transform: translateX(-50%); 
}

#generate-btn{
    border: none;
    background: linear-gradient(45deg,#667eea,#764ba2);
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#generate-btn:hover{
    transform: scale(.98);
    box-shadow: 0 6px 20px rgba(102,126,234,0.3);
}

#generate-btn:active{
    transform: scale(1);
}

#Palette-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(130px,1fr))
}

.colour-box{
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s ease;
}

.colour-box:hover{
    transform: translateY(-5px);
}

.colour-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #fff;
}

.colour{
    height: 120px;
}

.hex-value{
    font-weight: 500;
    letter-spacing: .3;
    font-size: larger;
}

.fa-copy{
    font-size: 1.1rem;
    cursor: pointer;
    color: #64748b;
}